<h1>Title: <%= @post.title %></h1>
<%= link_to 'Posts', posts_path %> <%= link_to 'Comments', post_comments_path %>
<%= render partial: 'form', locals: { post: @post, comment: @comment, path: post_comments_path(@post) } %>
