<h1>category id: <%= @category.id %></h1>
<%= link_to 'New', new_category_path %>
<%= link_to 'Posts', posts_path %>
<%= render partial: 'form', locals: { category: @category, path: category_path(@category) } %>

